<html>
    <!--
        Updated html template with form element for voting
        - each qn choice has a radio button, value = choice's ID, name = "choice"
        - button's id == label's for argument
        - after submitting voting form through POST, redirected to results page (in views) 

    -->
    <form action="{% url 'polls:vote' question.id %}" method="post">
        {% csrf_token %} <!--Without this, the POST data will be blocked by server-->
        <fieldset>
            <legend><h1>{{ question.question_text }}</h1></legend>
            {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
            {% for choice in question.choice_set.all %}
                <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
                <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
            {% endfor %}
        </fieldset>
        <input type="submit" value="Vote">
    </form>
</html>
